<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Analysis</h2>
      <i class=""></i>
      <i class=""></i>
      <p>Python, R, SQL, Machine Learning, Tableau</p>
    </div>
    <div class="tech">
      <h2>Finance</h2>
      <i class=""></i>
      <i class=""></i>
      <p>Excel, Google Sheets</p>
    </div>
    <div class="tech">
      <h2>Management</h2>
      <i class=""></i>
      <i class=""></i>
      <p>Leadership, Entrepreneurship, Team Minded, Goal Oriented</p>
    </div>
</div>
