<div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Analysis</h2>
      <img src="{{ ""https://github.com/AlbertGalarza/albertgalarza.github.io/blob/main/assets/img/Untitled%20design-4/1.png?raw=true"  | prepend: site.baseurl }}" />
      <i class=""></i>
      <p>Python, R, SQL, Machine Learning, Tableau</p>
    </div>
    <div class="tech">
      <h2>Finance</h2>
      <i class="https://github.com/AlbertGalarza/albertgalarza.github.io/blob/main/assets/img/Untitled%20design-4/2.png?raw=true"| prepend: site.baseurl></i>
      <i class=""></i>
      <p>Excel, Google Sheets</p>
    </div>
    <div class="tech">
      <h2>Management</h2>
      <i class="https://github.com/AlbertGalarza/albertgalarza.github.io/blob/main/assets/img/Untitled%20design-4/3.png?raw=true"| prepend: site.baseurl></i>
      <i class=""></i>
      <p>Leadership, Entrepreneurship, Team Minded, Goal Oriented</p>
    </div>
</div>
