<div class="user-details">
  <h1>Projects</h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "https://github.com/AlbertGalarza/albertgalarza.github.io/blob/main/assets/img/Untitled%20design-3/1.jpg?raw=true" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Predicting Credit Card Approvals </h3>
    <ul>
      <li> Python & Machine Learning</li>
    </ul>
    <p> Banks receive a lot of credit card applications. Manually analyzing these is repetitive and time consuming. Here we automate this mundane process. </p>
    <a class="project-link" href="https://github.com/AlbertGalarza/Predicting-Credit-Card-Approvals">View Project</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "https://github.com/AlbertGalarza/albertgalarza.github.io/blob/main/assets/img/Untitled%20design.png?raw=true" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Analyzing International Debt Statistics </h3>
    <ul>
      <li> SQL</li>
    </ul>
    <p>We use an International dataset by The World Bank ranging from 1970 to 2015 to analyse international debt  </p>
    <a class="project-link" href="https://github.com/AlbertGalarza/Analyzing-International-Debt-Statistics">View Project</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "https://github.com/AlbertGalarza/albertgalarza.github.io/blob/main/assets/img/Untitled%20design.jpg?raw=true" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Modeling the Volatility of US Bonds </h3>
    <ul>
      <li> R, Data Visualization</li>
    </ul>
    <p>Manipulating time series data with XTS and ZOO packages. GARCH models</p>
    <a class="project-link" href="https://github.com/AlbertGalarza/Modeling-the-Volatility-of-US-Bond-Yields">View Project</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "https://github.com/AlbertGalarza/albertgalarza.github.io/blob/main/assets/img/Untitled%20design-3/2.jpg?raw=true" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Analyzing Unicorn Companies </h3>
    <ul>
      <li> SQL</li>
    </ul>
    <p>Here we analyze trends in high growth companies and understand which industries are producing the highest valuations in order to give insight on how to structure an investment portfolio.</p>
    <a class="project-link" href="https://github.com/AlbertGalarza/Analyzing-Unicorn-Companies">View Project</a>
  </div>
</div>
